<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Access Token</title>
    <style>
        button {
            margin-top: 10px;
        }
    </style>
</head>
<body>
    <h1>Access Token:</h1>
    <textarea id="token" rows="4" cols="50" readonly>{{ token }}</textarea>
    <br>
    <button onclick="copyToClipboard()">Copy to Clipboard</button>

    <script>
        function copyToClipboard() {
            const tokenField = document.getElementById('token');
            tokenField.select();
            document.execCommand('copy');
        }
    </script>
</body>
</html>
